html {
  text-decoration: none;
}

.btn-services {
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
}

.btn-services:hover {
  color: #28a745;
  background-color: white;
  cursor: pointer;
}

.text-lg {
  font-size: 18px;
}

.pt-lg {
  padding-top: 50px;
}

.pr-lg {
  padding-right: 50px;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.8rem;
}

.font-small {
  font-size: 0.8rem;
}
